# PiOLED_server.cfg config file
# V2.0

LogFile =       'oled_display.log'              # Absolute path, or relative to core.tool.log_dir_base
LogLevel =      30
FileLogFormat = '{asctime} {module:>15}.{funcName:20} * {levelname:>8}:  {message}'     # Formats used by the server
ConsoleLogFormat =        '{module:>15}.{funcName:20} * {levelname:>8}:  {message}'

Display_file =  '/path_to/oled_display.txt'     # Used by the server.  The client settings must match.  Recommend a tmpfs (RAM drive).

Default_font =  'C&C Red Alert [INET].ttf'
Default_color = 'White'


[create_device args]        # See https://luma-oled.readthedocs.io/en/latest/index.html
config =                    None
display =                   'ssd1309'
width =                     128
height =                    64
rotate =                    2
interface =                 'spi'
i2c_port =                  1
i2c_address =               '0x3C'
spi_port =                  0
spi_device =                1
spi_bus_speed =             8000000
spi_mode =                  0b00
spi_transfer_size =         4096
spi_cs_high =               False
ftdi_device =               'ftdi://::/1'
framebuffer_device =        '/dev/fd0'
gpio =                      None
gpio_mode =                 None
gpio_data_command =         6
gpio_chip_select =          24
gpio_reset =                5
gpio_backlight =            18
gpio_reset_hold_time =      0
gpio_reset_release_time =   0
block_orientation =         0
mode =                      'RGB'
framebuffer =               'diff_to_previous'
num_segments =              4
bgr =                       False
inverse =                   False
h_offset =                  0
v_offset =                  0
backlight_active =          'low'
debug =                     False
transform =                 'scale2x'
scale =                     2
duration =                  0.01
loop =                      0
max_frames =                None
