[Unit]
Description=Initialize W1 busses therm_bulk_read permission


[Service]
ExecStart=/<path to>/initW1buses
# Or optionally specify a GPIO pin to be driven to logic 1 using the --GPIO switch
#ExecStart=/<path to>/initW1buses --GPIO 21

# Runs as root because the file therm_bulk_read is owned by root
User=root

# The service manager will consider the unit up after the main process exits
Type=oneshot

# Shows this service as "active (exited)" if it exits cleanly (exit code 0)
RemainAfterExit=true


[Install]
WantedBy=multi-user.target
